/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: myfont;
    src: url('assets/fonts/ChulabhornLikitText-Medium.ttf');
}
html{
    width: 100%;
    height: 100%;
}


*{
    font-family: myfont;
}

.swal2-modal{
    border-radius: 2em !important;

    .swal2-title{
        font-size: 3em;
    }
}