.wrapper {
    position: relative;
    #logout {
        text-align: center;
        width: 100%;
        background-color: #007bff;
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -0%);
        p {
            margin: 0 auto;
        }
    }
}
